body{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.wrapper{
  width: 100%;
  height: 100vh;
  background-color: rgb(64, 139, 179);
}
.header{
  height: 63vh;
  position: relative;
}
.logo{
  width: 112px;
  height: 120px;
  background: url(../images/Logo.png) no-repeat center;
  text-indent: -9999px;
}
.logo-name span {
  color: rgb(239, 99, 39)
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rect{
  display: block;
  width: 72.2222%;
  margin: 0 auto;
  border: 1px solid rgb(110, 168, 199);
  border-radius: 5px;
  padding: 15px 0;
  background-color: rgb(110, 168, 199);
}
.rect:first-child {
  margin-bottom: 10px;
}
.rect:last-child {
  margin-top: 25px;
  background-color: rgb(239, 99, 39);
  border: none
}
.rect label{
  display: inline-block;
  text-indent: -9999px;
  width: 50px;
  margin-right: -5px;
}
[for=username] {
  background: url(../images/usernamew.png) no-repeat center;
}
[for=password] {
  background: url(../images/Password:w.png) no-repeat center;
}
#username, #password {
  border: none;
  background-color: transparent;
  font-size: 14px;
}
::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.59);
  font-weight: 300;
}
.login-btn{
  color: white;
}
footer{
  width: 72.2222%;
  margin: 0 auto;
  margin-top: 18px;
}
.create-account{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.59);
  font-weight: 300;
}